exportPattern("^\\.j")
export( "J" )
export( "%instanceof%" )
export(is.jnull, .r2j, .rJava.base.path)
exportClasses(jobjRef, jarrayRef, jrectRef, jfloat, jlong, jbyte, jchar, jclassName)
exportMethods(show, "$", "$<-", "==", "!=", names, new, as.character, length, head, tail, "[", "[[", str, "dim<-" )
importFrom(methods, new)
importFrom(utils,head)
importFrom(utils,tail)
importFrom(utils,str)
S3method(with, jobjRef)
S3method(within, jobjRef)
S3method(with, jarrayRef)
S3method(within, jarrayRef)
S3method(with, jclassName)
S3method(within, jclassName)
export( japply )

