exportPattern("^\\.j")
export( "J" )
export( "%instanceof%" )
export(is.jnull, .r2j, .rJava.base.path)
exportClasses(jobjRef, jarrayRef, jfloat, jlong, jbyte, jchar, jclassName)
exportMethods(show, "$", "$<-", "==", "!=", names, new, as.character)
importFrom(methods, new) 
S3method(with, jobjRef)
S3method(within, jobjRef)
S3method(with, jclassName)
S3method(within, jclassName)

