on: [push, pull_request]

name: check

jobs:
  check:
    runs-on: ${{ matrix.os }}
    env:
      NOAWT: 1

    name: ${{ matrix.os }}, R ${{ matrix.r }}, Java ${{ matrix.java }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, macos-15-intel, windows-2022, ubuntu-22.04, ubuntu-24.04 ]
        r:  [ devel ]
        java: [ 8, 11 ]

    steps:
      - uses: actions/checkout@v4

      - name: Install R
        uses: s-u/R-actions/install@v2
        with:
          r-version: ${{ matrix.r }}
          tools: base

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - name: Setup R Java support
        if: runner.os != 'Windows'
        run: |
          echo export PATH=$PATH > reconf.sh
          echo export JAVA_HOME=$JAVA_HOME >> reconf.sh
          echo R CMD javareconf >> reconf.sh
          sudo bash reconf.sh
        shell: bash

      - uses: s-u/R-actions/pkg-check@master
        with:
          build-script: sh mkdist
          debian-deps: libpcre2-dev liblzma-dev libbz2-dev libdeflate-dev
